<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Providers</title>
</head>
<body>
    <h1>Providers List</h1>
    <ul>
        <% providers.forEach(provider => { %>
            <li>
                <strong>Name:</strong> <%= provider.first_name %> <%= provider.last_name %> <br>
                <strong>Specialty:</strong> <%= provider.provider_specialty %>
            </li>
        <% }); %>
    </ul>
</body>
</html>
